<h1>Compare Favourites</h1>

<%= form_tag(compare_favourites_path, method: :get, class: 'form-horizontal') do %>
	<div class="form-group">
		<%= label_tag(:first_person, "First Person:", class: 'col-md-2 control-label') %>
		<div class="col-md-8">
			<%= text_field_tag(:first_person, params[:first_person], class: 'form-control') %>
		</div>
	</div>
	<div class="form-group">
		<%= label_tag(:second_person, "Second Person:", class: 'col-md-2 control-label') %>
		<div class="col-md-8">
			<%= text_field_tag(:second_person, params[:second_person], class: 'form-control') %>
		</div>
		<div class="col-md-2">
			<%= submit_tag("Compare", class: 'btn btn-default') %>
		</div>
	</div>
<% end %>

<% if @all_favourites.present? %>

<div class="container-fluid">
	<div class="row">
		<% [@first_person, @second_person].each do |person|%>
		<div class="col-md-6">
			<h2><%= person %>'s Favourites
			<ul>
			<% @all_favourites.find_all{ |f| f.person == person }.each do |favourite| %>
				<% @is_shared = @intersection.any?{ |f| f == favourite.spotify_id} #%>
				<li class="<%= 'shared' if @is_shared %>">
					<% if @is_shared %>
						<span class="glyphicon glyphicon-star"></span>
					<% end %>
					<%= favourite.name %>
				</li>
			<% end %>
			</ul>
		</div>
		<% end %>
	</div>
</div>
<% end %>