<p id="notice"><%= notice %></p>

<h1>All Favourites</h1>
<p><%= link_to 'Add your favourite songs', search_favourites_path %> into the system and then
  <%= link_to 'see who shares', compare_favourites_path %> your faves!</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Person</th>
      <th>Spotify</th>
      <th>Name</th>
      <th>Preview url</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @favourites.each do |favourite| %>
      <tr>
        <td><%= favourite.person %></td>
        <td><%= favourite.spotify_id %></td>
        <td><%= favourite.name %></td>
        <td>
          <% if favourite.preview_url.present? %>
            <a href=<%= favourite.preview_url %> target="_blank">Listen
              <span class="glyphicon glyphicon-play-circle"></span>
            </a>
          <% end %>
        </td>
        <td>
          <div class="btn-group">
          <%= link_to 'Show', favourite, class: 'btn btn-default' %>
          <%= link_to 'Edit', edit_favourite_path(favourite), class: 'btn btn-default' %>
          <%= link_to 'Destroy', favourite, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

