<%= form_with(model: favourite, local: true) do |form| %>
  <% if favourite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(favourite.errors.count, "error") %> prohibited this favourite from being saved:</h2>

      <ul>
      <% favourite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person %>
    <%= form.text_field :person, id: :favourite_person %>
  </div>

  <div class="field">
    <%= form.label :spotify_id %>
    <%= form.text_field :spotify_id, id: :favourite_spotify_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :favourite_name %>
  </div>

  <div class="field">
    <%= form.label :preview_url %>
    <%= form.text_field :preview_url, id: :favourite_preview_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
